---
title: OMSCS Journey
description: Come join me in my journey of persuing Masters of Science in Computer Science from Georgia Institute of Technology.
layout: home
---
<h1>Introduction</h1>
January 2020, I'm going to start my rollercoaster journey of persuing Masters of Science in Computer Science from the
renowned Georgia Institute of Technology. Join me on this to find out where this takes us. Below you'll find the
courses that I take and my reviews and tips for the same. In the next section, "Blogs", I will document checkpoints
along the journey and will most likely be related to any course or term.

<div class="two-sided">
    <div class="course-list">
        <h1>Course List</h1>
        Here I'll list the courses that I take for a particular term. Visit each term to see the details. More details coming
        soon.
        
        <table>
          <thead>
            <tr>
              <th class="term">Term</th>
              <th class="course">Course</th>
              <th class="grade">Grade</th>
            </tr>
          </thead>
          {% assign terms = site.data.terms | where_exp: "term", "term.progress != 'Future'" %}
          {%  for term in terms %}
          <tr>
            <td>{{term.year}} {{ term.season }}</td>
            <td>
              {% for paper in term.papers %}
              <a href="{{ paper.url }}">{{ paper.title }}</a> <br>
              {% endfor %}
            </td>
            <td> {% for paper in term.papers %}
              {{ paper.grade }}<br>
              {% endfor %}
            </td>
          </tr>
          {% endfor %}
        </table>

        <h1>Counselling</h1>
        While <a href="{{site.baseurl}}/faq">FAQs</a>, and many other free resources are out there in the web, from YouTube, blogs to Reddit, 
        it can easlity become overwhelming for a new student. If you need further 1-1 counselling, feel free to fill out the form at 
        <a href="https://forms.gle/PHTCZqffZktN1u7t5">OMSCS Counselling Service</a>. I would be happy to guide to in this journey at a nominal cost.

    </div>
    
    <div class="blog-list">
        <h1>Blogs</h1>
        <ul>
          {% for post in site.posts %}
            <li>
              <!-- <small>{{post.date | date: "%F"}}: </small> -->
              <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
            </li>
          {% endfor %}
        </ul>
    </div>

    <h1>Feedback</h1>
    <span>You can see the feedback <a href="{{site.baseurl}}/feedback">here</a>, and add your comments using the link at the top of the page.
    </span>    
</div>
