<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    {% if site.google_analytics %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
    </script>
    {% endif %}
    <meta charset="UTF-8">

    {% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="dark light">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="icon" type="image/ico" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/assets/images/gt-logo.png">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <!-- https://css-tricks.com/essential-meta-tags-social-media/ add meta tags -->
    <meta property="og:image" content="{{site.url}}{{site.baseurl}}/assets/images/page-img.jpg">
    <meta property="twitter:image:src" content="{{site.url}}{{site.baseurl}}/assets/images/page-img.jpg">

    <link rel="manifest" href="manifest.json">
</head>

<body>

    {{ content }}

    <script data-name="BMC-Widget" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="royniladri"
        data-description="Support me on Buy me a coffee!" data-message="Did I make a difference? Help me stay awake!"
        data-color="#159957" data-position="Right" data-x_margin="18" data-y_margin="18"></script>

    <footer class="site-footer">
        <div class="footer-content">

            If this page helps you in your journey, you can show some love and support with a cup of tea!
            <br>
            <br>
            <span>&copy; 2020-2021 <a href="https://royniladri.dev/">Niladri Roy</a>
            <!-- <button id="theme-toggle">Toggle</button> -->
        </div>
    </footer>

    <script>
        // const btn = document.querySelector("#theme-toggle");
        // const prefersDarkScheme = window.matchMedia("(prefers-color-scheme: dark)");

        // const currentTheme = localStorage.getItem("theme");
        // if (currentTheme == "dark") {
        //     document.body.classList.toggle("dark-theme");
        // } else if (currentTheme == "light") {
        //     document.body.classList.toggle("light-theme");
        // }

        // btn.addEventListener("click", function () {
        //     if (prefersDarkScheme.matches) {
        //         document.body.classList.toggle("light-theme");
        //         var theme = document.body.classList.contains("light-theme")
        //             ? "light"
        //             : "dark";
        //     } else {
        //         document.body.classList.toggle("dark-theme");
        //         var theme = document.body.classList.contains("dark-theme")
        //             ? "dark"
        //             : "light";
        //     }
        //     localStorage.setItem("theme", theme);
        // });

        if ("serviceWorker" in navigator) {
            if (navigator.serviceWorker.controller) {
                console.log("An active service worker found, no need to register");
            } else {
                // Register the service worker
                navigator.serviceWorker
                    .register("{{ '/serviceworker.js?v=' | append: site.github.build_revision | relative_url }}", {
                        scope: "./"
                    })
                    .then(function (reg) {
                        console.log("Service worker has been registered for scope: " + reg.scope);
                    });
            }
        }
    </script>
</body>

</html>