<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>

    {% if site.google_analytics %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
    </script>
    {% endif %}
    <meta charset="UTF-8">

    {% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="icon" type="image/ico" href="/omscs-journey/favicon.ico">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
</head>

<body>

    {{ content }}

    <footer class="site-footer">
        <div class="footer-content">
            <div class="support">
                If this page helps you in your journey, you can show some love and support by donating.
                <table>
                    <tr class="value">
                        <td>$ 1.99</td>
                        <td>$ 2.99</td>
                        <td>$ 4.49</td>
                        <td>$ 9.99</td>
                    </tr>
                    <tr>
                        <td><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=Z55C4Y6K6AYWJ&os0=Tea"
                                target="_blank">:tea:</a></td>
                        <td><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=Z55C4Y6K6AYWJ&os0=Coffee"
                                target="_blank">:coffee:</a></td>
                        <td><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=Z55C4Y6K6AYWJ&os0=Burger"
                                target="_blank">:hamburger:</a></td>
                        <td><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=Z55C4Y6K6AYWJ&os0=Dinner"
                                target="_blank">:pizza::wine_glass:</a></td>
                    </tr>
                </table>
                <small>Click on one of the four icons above to get to payment page</small>
                <br>
                <br>
                <a href="https://www.paypal.com/in/webapps/mpp/how-paypal-works" target="_blank" referrerpolicy="no-referrer">
                    <img src="https://www.paypalobjects.com/digitalassets/c/website/marketing/apac/IN/logo-center/logo-center-other-options-white-secured-pp.png" alt="Secured by PayPal" height="40px">
                </a>
            </div>
            

            {% if site.github.is_project_page %}
            <span class="site-footer-owner"><a
                    href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a>
                is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
            {% endif %}

            <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub
                    Pages</a>.</span>

        </div>
    </footer>
</body>

</html>
