---
layout: default
---
<header class="page-header post" role="banner">
    <h1 class="post-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
    <h2 class="post-tagline">
        {{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
</header>

<main id="content" class="main-content" role="main">
    <div class="two-sided space-between">
        <div><a href="{{ site.baseurl }}/">Home</a> > <span>{{ page.date | date: "%Y" }}</span> >
            <span>{{page.title}}</span> </div>
        <div>{{page.date | date: "%-d %B %Y"}}</div>
    </div>
    <hr>

    <div class="text-justify">
        {{ content }}
    </div>

    <div class="comments" id="comments">
        <script src="https://utteranc.es/client.js" 
            repo="royNiladri/omscs-journey" 
            issue-term="pathname"
            theme="github-light" 
            crossorigin="anonymous" async>
        </script>
    </div>
</main>