---
layout: default
---
<header class="page-header post" role="banner">
    <h1 class="post-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
    <h2 class="post-tagline">
        {{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
</header>

<main id="content" class="main-content" role="main">
    <div><a href="{{ site.baseurl }}/">Home</a> > <span>{{ page.date | date: "%Y" }}</span> > <span>{{page.title}}</span> </div>
    
    <hr>
    
    {{ content }}
</main>