---
layout: default
---
<header class="page-header term" role="banner">
    <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
    <h2 class="project-tagline">
        {{ page.subject-name }}</h2>
</header>

<main id="content" class="main-content term-content" role="main">
    <div><a href="{{ site.baseurl }}/">Home</a> > <span>{{page.title}}</span> </div>

    {% assign term = site.data.terms | where_exp: "term", "page.term == term.url" | first %}
    {% assign paper = term.papers | where_exp: "paper", "page.url contains paper.url" | first %}
        <div><strong>Catergories:</strong> {{paper.categories|join: ", "}}</div>
        <div><strong>Course Details:</strong> <a href="{{paper.course_url}}">{{paper.course_url}}</a></div>
        <div><strong>Course Review:</strong> <a href="{{paper.omscentral_url}}">{{paper.omscentral_url}}</a></div>
        <!-- <div><strong>Final Grade:</strong> {{paper.grade}}</div> -->

        <h3>Reading Reference</h3>
        {% for book in paper.references %}
        <a href="{{book.url}}" title="Author: {{book.author}}">{{book.title}}</a><br>
        {% endfor %}
    
        <div class="text-justify">
            {{ content }}
        </div>

        {% include mailchimp.html %}

        <div class="comments" id="comments">
            <script src="https://utteranc.es/client.js" 
                repo="royNiladri/omscs-journey" 
                issue-term="pathname"
                theme="github-light" 
                crossorigin="anonymous" async>
            </script>
        </div>
   
</main>